{{!< default}}

<div class="pure-g-r">
	<div class="pure-u-3-4">
		<main role="main">

			{{#foreach posts}}
				<div class="sheet-post {{post_class}}">
					<article class="sheet-panel">
						<header>
							<h2 class="sheet-title sheet-post-title">
							<a class="sheet-post" href='{{url}}'>
								{{{title}}}
							</a></h2>
							<div class="sheet-post-meta">
								<time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
								{{#if tags}}
									<i class="fa fa-tags sheet-post-tags"></i> {{tags autolink="true"}}
								{{/if}}
							</div>
						</header>

						<section>
							<p class="sheet-post-excerpt">{{content previewOf=(url) previewText='&hellip; CONTINUE READING'}}</p>
						</section>
					</article>
				</div>
			{{/foreach}}

			<div class="sheet-panel">
				{{pagination}}
			</div>
		</main>
	</div>

	<div class="pure-u-1-4">
		<div class="sheet-panel sheet-sidebar">
			{{#if @blog.logo}}
				<img class="sheet-sidebar-logo" src="{{@blog.logo}}" alt="{{@blog.title}} Logo" />
			{{/if}}
			{{#if @blog.description}}
				<p class="sheet-sidebar-desc">{{@blog.description}}</p>
			{{/if}}
			<div class="sheet-sidebar-subscribe"><a class="sheet-btn" href="{{@blog.url}}/rss/"><i class="fa fa-rss-square"></i> <span>Subscribe</span></a></div>
		</div>
		<div class="sheet-panel sheet-sidebar facebook-narrow">
			<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FSeattle-Homebrew%2F120123541404672&amp;width=176&amp;height=258&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;show_border=false&amp;header=false&amp;appId=130184397082662" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:176px; height:261px;" allowTransparency="true"></iframe>
		</div>
		<div class="sheet-panel sheet-sidebar facebook-wide">
			<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FSeattle-Homebrew%2F120123541404672&amp;width=335&amp;height=258&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;show_border=false&amp;header=false&amp;appId=130184397082662" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:335px; height:261px;" allowTransparency="true"></iframe>
		</div>
	</div>
</div>
